<div class="flex justify-center items-center min-h-screen bg-gray-100 max-md:mx-4">
  <div class="w-full max-w-md p-8 space-y-6 bg-white shadow-md rounded-lg">
    <h2 class="text-2xl font-bold text-center text-gray-800">Forgot Password</h2>

    <!-- Forgot Password Form -->
    <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm" class="space-y-4">

      <!-- New Password and Confirm Password -->
      <div class="space-y-4">
        <div class="form-group">
          <label for="newPassword" class="block text-sm font-medium text-gray-700">New Password</label>
          <div class="relative">
            <input
              [type]="showNewPassword ? 'text' : 'password'"
              id="newPassword"
              name="newPassword"
              class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              [(ngModel)]="newPassword"
              required
              #newPasswordModel="ngModel"
              placeholder="Enter new password"
            />
            <button
              type="button"
              class="absolute inset-y-0 top-2 right-3 flex items-center"
              (click)="togglePasswordVisibility('new')"
            >
              <i [class]="showNewPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
            </button>
          </div>
          <div *ngIf="newPasswordModel.invalid && (newPasswordModel.dirty || newPasswordModel.touched)" class="text-red-500 text-sm mt-1">
            <div *ngIf="newPasswordModel.errors?.['required']">New password is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirm Password</label>
          <div class="relative">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              id="confirmPassword"
              name="confirmPassword"
              class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              [(ngModel)]="confirmPassword"
              required
              #confirmPasswordModel="ngModel"
              placeholder="Confirm your new password"
            />
            <button
              type="button"
              class="absolute inset-y-0 top-2 right-3 flex items-center"
              (click)="togglePasswordVisibility('confirm')"
            >
              <i [class]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
            </button>
          </div>
          <div *ngIf="confirmPasswordModel.invalid && (confirmPasswordModel.dirty || confirmPasswordModel.touched)" class="text-red-500 text-sm mt-1">
            <div *ngIf="confirmPasswordModel.errors?.['required']">Confirm password is required.</div>
            <div *ngIf="newPassword !== confirmPassword" class="text-red-500 text-sm mt-1">Passwords do not match!</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button
          type="submit"
          [disabled]="forgotPasswordForm.invalid || (newPassword !== confirmPassword)"
          class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-700"
        >
          Reset Password
        </button>
      </div>
    </form>
  </div>
</div>
