<div class="container p-10 overflow-y-auto h-screen pb-32">
  <nav class="text-2xl font-semibold mb-6">Add Project</nav>

  <form
    #projectForm="ngForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-5"
  >
    <!-- Title -->
    <div class="form-group">
      <label for="title" class="block text-sm font-medium text-gray-700"
        >Title:</label
      >
      <input
        type="text"
        id="title"
        name="title"
        class="mt-1 block border w-full rounded-md px-3 py-2 border-gray-300 shadow-sm"
        placeholder="Enter project title"
        ngModel
        required
      />
    </div>

    <!-- Homepage Small Description -->
    <div class="form-group">
      <label
        for="smallDescription"
        class="block text-sm font-medium text-gray-700"
        >Homepage Small Description:</label
      >
      <textarea
        id="smallDescription"
        name="smallDescription"
        rows="3"
        class="mt-1 block border w-full rounded-md px-3 py-2 border-gray-300 shadow-sm"
        placeholder="Enter a brief description for the homepage"
        ngModel
        required
      ></textarea>
    </div>

    <!-- Detailed Description -->
    <div class="form-group">
      <label
        for="detailedDescription"
        class="block text-sm font-medium text-gray-700"
        >Detailed Description:</label
      >
      <textarea
        id="detailedDescription"
        name="detailedDescription"
        rows="6"
        class="mt-1 block border w-full rounded-md px-3 py-2 border-gray-300 shadow-sm"
        placeholder="Provide a detailed description"
        ngModel
        required
      ></textarea>
    </div>

    <!-- Project Images Input -->
    <div class="form-group">
      <label for="projectImages" class="block text-sm font-medium text-gray-700">
        Project Images:
      </label>

      <!-- Show this div when no image is selected for project -->
      <div
        *ngIf="!selectedProjectImage"
        class="mt-1 h-40 w-full rounded-md px-3 py-2 border-gray-300 border-2 border-dotted shadow-sm flex justify-center items-center"
        (drop)="onDrop($event, 'project')"
        (dragover)="onDragOver($event)"
        (dragenter)="onDragEnter($event, 'project')"
        (dragleave)="onDragLeave($event, 'project')"
        (click)="projectFileInput.click()"
        style="cursor: pointer"
      >
        <input
          type="file"
          id="projectImages"
          name="projectImages"
          #projectFileInput
          class="hidden"
          multiple
          (change)="onFileChange($event, 'project')"
          accept="image/*"
          required
        />
        <p class="text-center text-sm text-gray-500">
          Drag & Drop your project images here, or click to select files
        </p>
      </div>

      <!-- Show this div when image is selected for project -->
      <div *ngIf="selectedProjectImage" class="mt-1 h-40 w-40 mx-auto relative">
        <img
          [src]="selectedProjectImage"
          class="h-full w-full object-cover rounded-md"
          alt="Selected project image"
        />
        <button
          (click)="removeProjectImage()"
          class="absolute top-0 right-0 -mt-2 -mr-2 bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center hover:bg-red-600"
        >
          <span class="text-sm">X</span>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="iconImages" class="block text-sm font-medium text-gray-700">
        Icon Images:
      </label>

      <!-- Show this div when no image is selected for icon -->
      <div
        *ngIf="!selectedIconImage"
        class="mt-1 h-40 w-full rounded-md px-3 py-2 border-gray-300 border-2 border-dotted shadow-sm flex justify-center items-center"
        (drop)="onDrop($event, 'icon')"
        (dragover)="onDragOver($event)"
        (dragenter)="onDragEnter($event, 'icon')"
        (dragleave)="onDragLeave($event, 'icon')"
        (click)="iconFileInput.click()"
        style="cursor: pointer"
      >
        <input
          type="file"
          id="iconImages"
          name="iconImages"
          #iconFileInput
          class="hidden"
          multiple
          (change)="onFileChange($event, 'icon')"
          accept="image/*"
          required
        />
        <p class="text-center text-sm text-gray-500">
          Drag & Drop your icon images here, or click to select files
        </p>
      </div>

      <!-- Show this div when image is selected for icon -->
      <div *ngIf="selectedIconImage" class="mt-1 h-40 w-40 mx-auto relative">
        <img
          [src]="selectedIconImage"
          class="h-full w-full object-cover rounded-md"
          alt="Selected icon image"
        />
        <button
          (click)="removeIconImage()"
          class="absolute top-0 right-0 -mt-2 -mr-2 bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center hover:bg-red-600"
        >
          <span class="text-sm">X</span>
        </button>
      </div>
    </div>

<!-- Project URLs and Icon URLs Section -->
<div class="form-group flex gap-4">
  <div class="flex-1">
    <label class="block text-sm font-medium text-gray-700">Icon URL:</label>
    <input
    type="url"
    class="flex-1 block border rounded-md w-full mt-2 px-3 py-2 border-gray-300 shadow-sm"
    placeholder="Icon URL"
    [(ngModel)]="iconUrl"
    name="iconUrl"
    required
  />
  </div>

  <div class="flex-1">
    <label class="block text-sm font-medium text-gray-700">Project URL:</label>
    <input
    type="url"
    class="flex-1 block border rounded-md w-full mt-2 px-3 py-2 border-gray-300 shadow-sm"
    placeholder="Project URL"
    [(ngModel)]="projectUrl"
    name="projectUrl"
    required
  />
  </div>
</div>



    <!-- Submit Button -->
    <div class="flex justify-end">
      <button
        type="submit"
        class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none"
        [disabled]="!projectForm.valid"
      >
        Save Project
      </button>
    </div>
  </form>
</div>
