# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
bower_components/

# Environment variables
.env

# Build output

build/

# Temporary files
*.tmp
*.temp

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Operating system files
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.swp

# Coverage directory for test output
coverage/

# Debug files
*.pid
*.seed
